* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    scroll-behavior: smooth;
}

#scroll-top {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#scroll-top i {
    font-size: 2rem;
}

nav {
    background-color: rgba(31,31,31,0.55);
    position: absolute;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    width: 100%;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.menu-link {
    height: 100%;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0);
    transition: background-color ease-in 0.2s;
}

.menu-link a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu-link:hover:not(:last-child) {
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
}

.section-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 20%;
    color: #fff;
}

.section-header {
    height: 97vh;
    background-image: url("../assets/img/headerimg.png");
    background-size: cover;
}

#splash-text {
    width: 320px;
    position: absolute;
    bottom: 100px;
    right: 260px;
    text-align: end;
    color: #fff;
    font-weight: 700;
    font-size: 1.5em;
}

.logo-img {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
}

.logo-img img {
    height: 75%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.lang-active {
    font-weight: 700;
}

.lang-en {
    margin-right: 5%;
}

.section-services {
    background: #2c2c2c;
}

.section-services h1 {
    font-size: 2rem;
    font-weight: 700;
}

.section-services p {
    font-weight: 300;
}

.services-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-text h1 {
    margin-bottom: 1em;
    text-align: center;
}

.services-text p {
    text-align: center;
}

.services-text:first-of-type {
    margin-bottom: 9%;
}

.service-package {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 9%;
}

#price-indication {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 45%;
    padding-left: 20%;
}

#price-indication p:nth-of-type(1) {
    font-size: 3rem;
    font-weight: 800;
}

#price-indication p:nth-of-type(2) {
    font-style: italic;
    text-align: end;
}

#price-determinants {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.service-opt {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.service-opt:not(:last-of-type) {
    margin-bottom: 1em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 1em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px solid #fff;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: -2px;
    bottom: -2px;
    border: 3px solid #fff;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #fff;
}

input:checked + .slider:before {
    background-color: #2c2c2c;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.no-select {
    user-select: none;
}

.section-portfolio {
    background: #1d1d1d;
    padding: 5% 15%;
}

.section-portfolio h1 {
    font-size: 2rem;
    font-weight: 700;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.project h3 {
    font-size: 1.2rem;
}

.context {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.context img {
    width: 60%;
}

.flex-left {
    flex-direction: row;
}

.flex-left p {
    margin-left: 2rem;
}

.flex-right {
    flex-direction: row-reverse;
}

.flex-right p {
    margin-right: 2rem;
}

.section-about {
    background: #2c2c2c;
}

.section-about h1 {
    font-size: 2rem;
    font-weight: 700;
}

#about-intro {
    margin-top: 4rem;
}

.pers-info {
    margin-top: 4rem;
    display: flex;
}

.pers-name-mobile {
    display: none;
}

.pers-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.pers-text p {
    margin-top: 1rem;
}

.pers-img {
    width: 50%;
}

.flex-left .pers-text {
    align-items: flex-end;
    margin-right: 2rem;
}

.flex-left .pers-text p {
    text-align: end;
}

.flex-right .pers-text {
    align-items: flex-start;
    margin-left: 2rem;
}

.flex-right .pers-img {
    text-align: end;
}

.pers-icon {
    margin-top: 1rem;
}

.pers-icon i {
    font-size: 2rem;
}

.section-contact {
    background: #1d1d1d;
    padding: 5% 15%;
}

.section-contact h1 {
    font-size: 2rem;
    font-weight: 700;
}

.contact-intro {
    margin-top: 4rem;
    width: 60%;
    text-align: center;
}

.section-contact form {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
}

.section-contact .labels-desktop {
    display: flex;
    flex-direction: column;
    line-height: 1em;
    align-items: flex-end;
    margin-right: 1rem;
}

.labels-desktop label:nth-of-type(1) {
    margin-top: .5rem;
}

.labels-desktop label {
    margin-bottom: 1.75rem;
}

.section-contact .inputs {
    display: flex;
    flex-direction: column;
}

.section-contact input {
    border-radius: .5rem;
    border: none;
    margin-bottom: .8rem;
    height: 2rem;
}

.section-contact textarea {
    border-radius: .5rem;
    border: none;
    resize: none;
}

.contact-submit {
    margin-top: 1rem;
    border: none;
    border-radius: .5rem;
    height: 2rem;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #2c2c2c;
    color: #fff;
    height: 10vh;
}


@media only screen and (max-device-width : 450px) {
    * {
        font-size: 14px;
    }

    #scroll-top {
        visibility: hidden;
    }

    .nav-menu {
        display: none;
    }

    #splash-text {
        bottom: 50px;
        right: 25px;
    }

    .section-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10% 5%;
        color: #fff;
    }

    .service-package {
        flex-direction: column;
        align-items: center;
    }

    #price-indication {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        width: 50%;
        margin-bottom: 2rem;
    }

    #price-indication p:nth-of-type(2) {
        text-align: center;
    }

    #price-determinants {
        width: 100%;
    }

    .context {
        flex-direction: column;
        align-items: center;
    }

    .context img {
        width: 100%;
        border-radius: 10px;
    }

    .context p {
        margin: 2rem 1rem 0 1rem;
    }

    #about-intro {
        margin-top: 2rem;
    }

    .pers-name-desktop {
        display: none;
    }

    .pers-name-mobile {
        display: inline-block;
        font-size: 1.5rem;
        order: 1;
    }

    .pers-info {
        flex-direction: column;
        align-items: center;
    }

    .pers-text {
        order: 3;
        width: 80%;
    }

    .flex-left .pers-text {
        align-items: flex-start;
        margin: 2rem 0 0 0;
    }

    .flex-left .pers-text p {
        text-align: start;
        margin: 0;
    }

    .flex-right .pers-text {
        align-items: flex-start;
        margin: 2rem 0 0 0;
    }

    .flex-right .pers-text p {
        text-align: start;
        margin: 0;
    }

    .pers-img {
        width: 100%;
        display: flex;
        justify-content: center;
        order: 2;
        margin-top: 2rem;
    }

    .pers-img img {
        border-radius: 10px;
    }

    .contact-intro {
        width: 100%;
    }

    .section-contact form {
        width: 70%;
    }

    .inputs {
        width: 100%;
    }

    .section-contact .labels-desktop {
        display: none;
    }

    .label-mobile {
        margin-bottom: .5rem;
    }
}
