* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    padding: 3% 5%;
    min-height: 100vh;
}

h1 {
    text-align: center;
    font-size: 4rem;
}

td,th {
    font-size: 1rem;
}

#main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#main-content > div {
    width: 33%;
}

#main-content > div > h2 {
    text-align: center;
}

#main-content > div > button {
    margin-left: 40%;
}