* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    padding: 3% 5%;
    min-height: 100vh;
}

h1 {
    text-align: center;
    font-size: 4rem;
}

td,th {
    font-size: 1rem;
}

#main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#main-content > div {
    width: 33%;
}

#main-content > div > h2 {
    text-align: center;
}

#main-content > div > button {
    margin-left: 40%;
}

.col3 table {
    width: 100%;
}

.col3 table td {
    width: 33%;
}

.col3 table td > div {
    text-align: center;
    margin-top: 10%;
}

.shop {
    margin: 0;
}

.item-title {
    font-size: 2em;
}

.item-spec {
    font-size: 1em;
}

.item-price {
    font-size: 1.5em;
}