* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #7C7C7C;
    scroll-behavior: smooth;
}

button:focus {
    outline: none;
}

.divider {
    position: relative;
    z-index: -101;
    width: 100%;
}

#divider-1 {
    z-index: 101;
    top: 2px;
}

#divider-2 {
    top: 5px;
}

#divider-3 {
    margin-top: -22%;
}

#divider-5 {
    position: absolute;
}

nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    background: none;
}

a:visited {
    color: #fff;
}

.fixed-top {
    top: 24px;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

nav span i {
    font-size: 24px;
    color: #fff;
}

nav ul {
    display: none;
}

a {
    color: #fff;
}

.alternate-nav {
    color: #7C7C7C;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    background-color: #fff;
    top: 0;
    padding: 2% 2%;
}

.alternate-hamburger, .alternate-hamburger::before, .alternate-hamburger::after {
    background-color: #7C7C7C;
}

.hamburger.is-active .alternate-hamburger,
.hamburger.is-active .alternate-hamburger::before,
.hamburger.is-active .alternate-hamburger::after {
    background-color: #7C7C7C;
}

#nav-button {
    outline: none;
}

#nav-open {
    position: fixed;
    right: -200vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4789A8;
    z-index: 999;
    overflow: hidden;
    transition: .75s;
    width: 100%;
}

#nav-open ul {
    list-style: none;
    text-align: center;
    margin-top: 100px;
}

#nav-open ul li {
    margin-bottom: 30px;
    font-size: 25px;
    color: #fff;
    font-weight: 300;
}

#nav-open ul li:last-of-type {
    margin-top: 65px;
}

#nav-open ul li span {
    font-size: 27px;
    color: #fff;
    font-weight: 300;
    margin-right: 23px;
}

#nav-open ul li span:last-of-type {
    margin-right: 0;
}

.home {
    height: 625px;
    background: url("images/Home_mobile.jpg") center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.cta {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 44px;
    margin-bottom: 2rem;
}

#cta-text {
    font-weight: 500;
    text-align: right;
    margin-bottom: 24px;
    color: #fff;
}

#cta-button {
    padding: 10px 11px;
    background: none;
    border: 3px solid #fff;
    border-radius: 7px;
    color: #fff;
    font-weight: 700;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
}

.services h3 {
    font-weight: 600;
    font-size: 27px;
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.16);
    color: #5C5C5C;
    margin-bottom: 20px;
}

.services-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.possibilities-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 50px;
}

.possibilities-text a {
    color: #7C7C7C;
    text-decoration: none;
}

.possibilities-collapse {
    text-align: left;
    width: 100%;
}

.collapse-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.collapse-item {
    margin-bottom: 10px;
    width: 100%;
    height: 20px;
    cursor: pointer;
    user-select: none;
}

.collapse-item:last-of-type {
    margin-bottom: 0;
}

.collapse-item a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.collapse-item a i {
    margin-right: 10px;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.whitespace {
    height: 15px;
    background-color: #fff;
}

.content-text {
    background-color: #F7F7F7;
    border-radius: 5px;
    padding: 13px;
}

.content-text p {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
}

.fa-caret-right {
    transform: rotate(0deg);
    transition: transform .2s linear;
    font-size: 24px;
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.16);
}

.caret-open {
    transform: rotate(90deg);
    transition: transform .2s linear;
}

.portfolio {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio h3 {
    font-weight: 600;
    font-size: 27px;
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.16);
    color: #5C5C5C;
    margin-bottom: 30px;
}

.card {
    width: 315px;
    height: 430px;
    /*border: none;
    box-shadow: 0 3px 4px rgba(0,0,0,0.16);*/
    border-radius: 10px;
}

.card img {
    height: 165px;
    border-radius: 10px 10px 0 0;
}

.card-title {
    font-size: 14px;
    font-weight: 700;
}

.card-text {
    font-size: 14px;
    font-weight: 300;
}

#carouselControls {
    width: 315px;
}

.carousel-inner {
    width: 315px;
    height: 430px;
}

.about {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about h3 {
    font-weight: 600;
    font-size: 27px;
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.16);
    color: #5C5C5C;
    margin-bottom: 25px;
}

.about-image {
    display: flex;
    justify-content: center;
    width: 100%;
}

.about-image img {
    height: 115px;
    width: 115px;
    border-radius: 100%;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.29);
    margin-bottom: 20px;
}

.about-image span {
    position: absolute;
}

.about-image span i {
    position: relative;
    font-size: 25px;
    left: 42px;
    top: 92px;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.16);
}

.about-text {
    text-align: center;
}

.about-text h3 {
    font-size: 17px;
    margin-bottom: 15px;
}

.about-text p {
    font-size: 14px;
    text-align: left;
    font-weight: 300;
}

.about-text strong {
    font-weight: 700;
}

.matthias {
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
}

.lukas {
    margin-left: 40px;
    margin-right: 40px;
}

.contact {
    margin: 30px 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact h3 {
    font-weight: 600;
    font-size: 27px;
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.11);
    color: #5C5C5C;
    margin-bottom: 20px;
}

.contact p {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
    width: 60%;
}

.contact label {
    font-weight: 700;
    margin-left: 10px;
    padding: 0;
}

.contact input {
    border: none;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.17);
}

.contact textarea {
    border: none;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.17);
    margin-bottom: 25px;
}

.opt-input {
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 93%;
}

.opt-input p {
    margin-right: 10px;
}

.btn-submit {
    border: 2px solid #6C6C6C;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12);
    font-size: 13px;
    font-weight: 700;
    color: #6C6C6C;
    margin-left: 10px;
}

footer {
    position: relative;
    bottom: -36px;
    text-align: right;
}

footer p {
    margin-right: 36px;
    font-size: 13px;
    font-weight: 300;
}

footer strong {
    font-size: 13px;
    font-weight: 700;
}

/*Above 1500px*/
@media only screen and (min-width: 1500px) {

    nav ul {
        display: inline-block;
        margin-top: 30px;
        width: 80%;
        text-align: right;
    }

    ul li a {
        color: #fff;
        font-weight: 700;
        font-size: 27px;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    }

    ul li a span {
        color: #fff;
        font-size: 27px;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    }

    .btn-submit {
        margin-left: 28% !important;
    }

    .services-text {
        width: 30% !important;
        margin-left: 20% !important;
    }

    .possibilities-text {
        width: 25% !important;
        margin-right: 20% !important;
    }
}

/*Above 1000px*/
@media only screen and (min-width: 1000px) {
    nav {
        margin: 23px 7% 0 7%;
    }

    #nav-button {
        display: none;
    }

    nav ul {
        display: inline-block;
        width: 80%;
        text-align: right;
        margin: 0;
    }

    ul li {
        display: inline-block;
        margin-right: 6%;
    }

    ul li:last-of-type {
        margin-right: 0;
    }

    ul li a {
        color: #fff;
        font-weight: 700;
        font-size: 20px;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    }

    ul li a span {
        color: #fff;
        font-size: 20px;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    }

    .fixed-top {
        top: 0;
        width: auto;
        padding-left: 0;
        padding-right: 0;
    }

    .alternate-nav {
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .alternate-nav ul li a {
        color: #7C7C7C;
    }

    .alternate-nav ul li a span {
        color: #7C7C7C;
    }

    .alternate-nav img {
        margin-left: 5%;
    }

    .alternate-nav ul {
        margin-right: 5%;
        width: 70%;
        margin-top: 20px;
    }

    .cta {
        width: 40% !important;
    }

    .services {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .services h3 {
        font-size: 36px;
        font-weight: 600;
        text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.13);
        margin-bottom: 1em;
    }

    .services-text {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 2.5%;
        text-align: right;
        width: 40%;
        margin-left: 7.5%;
    }

    .possibilities-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 2.5%;
        width: 40%;
        margin-right: 7.5%;
        margin-top: 0;
    }

    .collapse-item {
        margin-bottom: 20px;
    }

    .collapse-item a {
        font-weight: 300;
        text-decoration: none;
        color: #7C7C7C;
    }

    .collapse-item i {
        font-size: 32px;
    }

    .content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    .whitespace {
        height: 10px;
        background-color: #fff;
    }

    .content-text {
        background-color: #F7F7F7;
        border-radius: 15px;
        padding: 20px 28px;
    }

    .content-text p {
        font-size: 14px;
        font-weight: 400;
        margin: 0;
    }

    .fa-caret-right {
        transform: rotate(0deg);
        transition: transform .2s linear;
        font-size: 24px;
        text-shadow: 0 3px 4px rgba(0, 0, 0, 0.16);
        margin-right: 30px;
    }

    .caret-open {
        transform: rotate(90deg);
        transition: transform .2s linear;
    }

    .contact p {
        width: 50%;
        font-size: 16px;
    }

    .contact form {
        width: 40%;
    }
}

/*Above 615px*/
@media only screen and (min-width: 615px) {
    .home {
        background: url("images/Home_desktop.jpg") bottom;
        background-size: cover;
    }

    #nav-open ul li a {
        font-size: 20px;
    }

    .cta {
        width: 60%;
    }

    .about-image {
        display: flex;
        justify-content: center;
        width: 25%;
        margin-top: 2%;
    }

    .about-image img {
        border-radius: 100%;
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.29);
    }

    .about-image span i {
        position: relative;
        font-size: 24px;
        left: 45px;
        top: 90px;
        text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.16);
    }

    .lukas {
        display: flex;
        margin-bottom: 25px;
    }

    .matthias {
        display: flex;
    }

    .about-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 70%;
    }

    .about-text h3 {
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 12px;
    }

    .about-text p {
        font-size: 16px;
        font-weight: 400;
    }

    footer {
        bottom: -8rem;
    }

    footer p {
        font-size: 16px;
    }
}

/*Above 1200px*/
@media only screen and (min-width: 1200px) {
    * {
        margin: 0;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 27px;
        font-weight: 400;
        color: #7C7C7C;
    }

    .navbar ul {
        display: flex;
        width: 60%;
        justify-content: flex-end;
        margin: 0 5% 0 0;
    }

    .divider {
        position: relative;
        z-index: -101;
    }

    #divider-1 {
        top: 2px;
    }

    #divider-2 {
        top: -75px;
    }

    #divider-3 {
        margin-top: -350px;
    }

    .home {
        height: 90vh;
        background: url("images/Home_desktop.jpg") bottom;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .cta {
        width: 540px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 10%;
    }

    #cta-text {
        font-weight: 500;
        text-align: right;
        margin-bottom: 24px;
        color: #fff;
        font-size: 20px;
    }

    #cta-button {
        padding: 10px 11px;
        background: none;
        border: 4px solid #fff;
        border-radius: 10px;
    }

    #cta-button a {
        color: #fff;
        font-weight: 700;
        font-size: 20px;
    }

    .services-text p, .services-text strong, .services-text em {
        font-size: 20px;
    }

    .possibilities-text p {
        font-size: 20px;
    }

    .collapse-item a {
        font-size: 20px;
    }

    .content p {
        font-size: 18px;
    }

    .content-text {
        padding: 30px 26px;
    }

    .collapse-item {
        margin-bottom: .8em;
    }

    .portfolio {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .portfolio h3 {
        font-size: 36px;
        margin-bottom: 1.5em;
    }

    #carouselControls {
        width: 50%;
    }

    .carousel {
        width: 50%;
    }

    .carousel-inner {
        width: 100%;
        height: 100%;
    }

    .card {
        width: 100%;
        height: 100%;
        /*border: none;*/
        /*box-shadow: 0 3px 20px rgba(0, 0, 0, 0.16);*/
        /*border-radius: 10px;*/
        /*margin-right: 75px;*/
    }

    .card img {
        height: 385px;
        border-radius: 10px 10px 0 0;
    }

    .card-title {
        font-size: 28px;
        font-weight: 700;
    }

    .card-text {
        font-size: 20px;
        font-weight: 400;
    }

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about h3 {
        font-weight: 600;
        font-size: 36px;
        text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.13);
        color: #5C5C5C;
        margin-bottom: 78px;
    }

    .about-image {
        display: flex;
        justify-content: center;
        width: 35%;
    }

    .about-image img {
        height: 200px;
        width: 200px;
        border-radius: 100%;
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.29);
    }

    .about-image span i {
        position: relative;
        font-size: 48px;
        left: 75px;
        top: 155px;
        text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.16);
    }

    .lukas {
        display: flex;
    }

    .matthias {
        display: flex;
    }

    .about-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 831px;
    }

    .about-text h3 {
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 36px;
    }

    .about-text p {
        font-size: 20px;
        font-weight: 400;
    }

    .about-text strong {
        font-size: 20px;
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    .contact h3 {
        font-weight: 600;
        font-size: 36px;
        text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.13);
        color: #5C5C5C;
        margin-bottom: 60px;
    }

    .contact p {
        text-align: left;
        font-size: 20px;
        font-weight: 400;
        width: 34%;
    }

    form {
        width: 50% !important;
        margin-left: 8%;
        margin-right: 22%;
        margin-top: 2%;
    }

    .form-control {
        height: 74px;
    }

    .form-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .form-group label {
        text-align: right;
        margin-right: 46px;
        font-size: 20px;
        font-weight: 700;
        width: 25%;
    }

    .form-group label em {
        font-size: 20px;
    }

    .opt-input {
        display: flex;
        flex-direction: column;
        text-align: right;
        margin-right: 46px;
        height: 100%;
    }

    .contact input {
        border: none;
        box-shadow: 0 1px 7px rgba(0, 0, 0, 0.17);
        width: 75%;
    }

    .contact textarea {
        border: none;
        box-shadow: 0 1px 7px rgba(0, 0, 0, 0.17);
        margin-bottom: 25px;
        width: 75%;
    }

    .text-area-input {
        display: flex;
        align-items: flex-start;
    }

    .text-area-input label {
        margin-top: 5px;
    }

    .btn-submit {
        border: 2px solid #6C6C6C;
        border-radius: 7px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12);
        font-size: 27px;
        font-weight: 700;
        color: #6C6C6C;
        margin-left: 29.5%;
    }

    #divider-5 {
        position: relative;
        top: 75px;
    }

    footer {
        margin-left: 40%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        bottom: 0;
    }

    footer p {
        font-size: 27px;
        font-weight: 300;
    }

    footer strong {
        font-size: 27px;
        font-weight: 700;
    }
}