* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    font-weight: 400;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    text-shadow: 0 3px 4px rgba(0,0,0,0.16);
    color: #7C7C7C;
}

/* HEAD */
.info-banner {
    background-color: #4789A8;
    text-align: center;
    color: #fff;
}

.head {
    background: url("images/header.jpg");
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.cta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 315px;
    margin-top: 517px;
}

#cta-text {
    color: #fff;
    text-align: right;
    font-weight: 500;
}

#cta-button {
    margin-top: 40px;
    padding: 18px 29px;
    color: #fff;
    font-weight: 700;
    background: none;
    border: 4px solid #fff;
    border-radius: .8em;
}

/* SERVICES */
.services {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.service {
    margin-top: 80px;
    margin-right: 50px;
}

#service-title {
    text-align: right;
}

#service-text {
    text-align: right;
}

.possibilities {
    margin-top: 80px;
    margin-left: 50px;
}

/* PORTFOLIO */
.portfolio {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.portfolio-cards div {
    flex: 0 0 auto;
}

.portfolio-card {
    box-shadow: 0 3px 20px rgba(0,0,0,0.16);
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 75px;
    margin-left: 75px;
}

.portfolio-card img {
    width: 100%;
    height: auto;
}

.card-title {
    color: #7C7C7C;
    text-shadow: 0 3px 4px rgba(0,0,0,0.16);
    font-size: 30px;
    font-weight: 700;
    margin-top: 40px;
}

.card-text {
    font-size: 22px;
    margin-top: 35px;
    margin-bottom: 40px;
}

#card-1 {
    margin-left: 100px;
}